// variables de proyecto

//color fondo
$color-bg: #f9f9f9;
$color-header-bg: #27445d;
$color-alert-bg: #71bbb2;
$color-productos-bg: #f9f9f9;
$color-form-btn-bg: #497d74;
$color-form-btn-hover-bg: #71bbb2;
$color-footer-bg: #6c757d;
$color-btn-gb: #497d74;
$color-input-border-gb: #71bbb2;
$color-input-border-hover-gb: #497d74;

//estilos font
$color-font: whitesmoke;
$family-font: Verdana, Geneva, Tahoma, sans-serif;
$size-font: 14px;
$color-footer-font: #fff;
$color-alert-font: #efe9d5;
$color-alert-link-font: #497d74;
$color-input-font: #27445d;

$color-btn-font: #efe9d5;
$color-btn-hover-font: #71bbb2;

//estilos link
$color-link-active: #fff;

//estilo borde
$color-borde-header-imagen: #b5640b;
